aclocal.m4
autom4te.cache
config.h.in
configure
depcomp
install-sh
Makefile.in
missing
config.h
stamp-h1
Makefile
config.log
config.status
.deps
*.o
*.a
config.guess
config.h.in~
config.sub
libtool
ltmain.sh
.libs
*.la
*.lo
m4
ar-lib
compile
